.top-bar {
  border-bottom: 1px solid $light;
  .nav-link {
      font-weight: 600;
      padding:  0.5rem 0;
      margin: 0 1rem;
      border-bottom: 4px solid transparent;

  }
  .active {
    color : $primary !important;
    border-bottom: 4px solid $primary;
  }
  .btn {
    color: $white;
    margin: 0 1rem 0 0;
    padding: 0.4rem 1rem;
    border-bottom: 2px solid darken($secondary, 20);
  }

}

.header h1 {
  font-size: 1.3rem;
  font-weight: 700;
}

.menu .subdropdown .nav-link {
  padding: 0.25rem 1rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  &:hover,
  &:visited {
    border-bottom: none;
  }
  &::after {
    content: "\f285";
    font-size: 0.8rem;
  }
}

.dropdown-item .nav-link {
  font-size: 0.85rem;
  text-transform: inherit;
  font-weight: normal;
  padding: 0.5rem 0;
  &:hover {
    border: inherit !important;
  }
}
.dropdown-item-text {
  font-weight: 600;
}

.menu {
  border-top: 1px solid $light;
  border-bottom: 1px solid $light;

  .dropdown-toggle::after {
    border: none;
    content: "\F282";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
  }
  .dropdown-menu {
    .dropdown-toggle::after {
      content: "\F285";
      font-size: 0.9rem;
    }
  }

  .nav-link {
    border-bottom: 1px solid transparent;
  }
  .nav-link:hover {
    border-bottom: 1px solid $secondary;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
}
