@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.navbar-menu {
  border-right: 1px solid $gray-600;
  transition: all 0.5s ease;
  padding-top: 1rem;
}

.navbar__list {
  list-style-type: none;
  padding: 0 0.5rem 0 1rem;
}
.navbar__li {
  display: inline-block;
  padding:0px 0px 0px 12px;
  top:2.5px;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 600;
}
.navbar__li-box {
  margin-top:15px;
  border-left: 0px solid $primary;
  background-color: #fff;
  transition: all 0.15s;
  text-transform: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
    padding: 4px 8px;
}
.navbar__li-box:hover {
  border-left: 7px solid $primary;
  background-color: $light;
  cursor: pointer;
  transition: all 0.15s;
}
