

.dropdown-item .nav-link {
  font-size: 0.85rem;
  text-transform: inherit;
  font-weight: normal;
  padding: 0.5rem 0;
  &:hover {
    border: inherit !important;
  }
}
.dropdown-item-text {
  font-weight: 600;
}


// Modern header navigation
.header-nav {
  box-shadow: 0 2px 12px rgba($primary, 0.15);
  padding: 0.5rem 0;

  
  .nav-item-custom {
    margin: 0 0.25rem;

    i {
      opacity: 0.8;
    }
    
    &:hover {
      background: rgba(white, 0.1);
      
      i {
        opacity: 1;
      }
    }
    
    &.active {
      
      i {
        opacity: 1;
      }
    }
    

  }
  
  .navbar-toggler {
    border: none;
    color: rgba(white, 0.9);
    
    &:focus {
      box-shadow: none;
    }
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

// Page Header styles
.page-header {
  background-color :$primary ;
  border-bottom: 1px solid #e9ecf3;
  color: #fff;
  padding: 2.5rem 0;
  box-shadow: 0 1px 3px rgba($primary, 0.1);
  @extend .transition-slow;
  margin-bottom: 2rem;
  // Amélioration des liens dans les breadcrumbs
  .hover-underline {
    @extend .link-underline;
  }
  


  // Animation et styling de l'icône
  .page-icon {
    width: 44px;
    height: 44px;
    background-color: rgba($light, 0.1);
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @extend .transition-all;

  }
  
  // Titre styling
  h2 {
    font-size: 1.8rem;
    line-height: 1.2;
    color : #fff;
  }
  
  // Sous-titre styling
  p {
    font-size: 0.95rem;
    opacity: 0.8;
  }
}


// Responsive adjustments
@media (max-width: 991.98px) {
  .header-nav {
    .nav-item-custom {
      margin: 0.25rem 0;
      
      &.nav-publish {
        margin: 0.5rem 0;
      }
    }
    
    .navbar-collapse {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid rgba(white, 0.1);
    }
  }
  
  // PageHeader mobile optimizations
  .page-header {
    h1 {
      font-size: 1.5rem !important;
    }
    
    .page-icon {
      width: 36px !important;
      height: 36px !important;
    }
  }
}
